body {
    height: 100vh;
    /* background-image:url("https://images.unsplash.com/photo-1556010656-e60700d4c0d5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80"); */
}

#calculator-panel {
    width: 500px;
    height: 620px;
}

#display {
    width: 450px;
    height: 100px;
}

#current-expression {
    height: 10px;
}

#eval-answer {
    height: 40px;
}

.btn {
    width: 75px;
    height: 75px;
    font-size: 25pt;
}

